* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.product {
  height: 310px;
  width: 210px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.548);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.product p {
  font-weight: bold;
  text-align: center;
}
.product h4 {
  padding: 0 0 10px 0;
  color: rgba(0, 0, 0, 0.728);
  font-size: 12px;
}
.product a {
  background: linear-gradient(
    to right,
    rgba(0, 255, 255, 0.372),
    rgba(153, 50, 204, 0.402)
  );
  color: rgba(0, 0, 0, 0.817);
  font-weight: bold;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 20px;
}
a {
  text-decoration: none;
}
.product img {
  height: 200px;
  width: 210px;
}
.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.071),
    rgba(255, 68, 0, 0.137),
    rgba(0, 255, 255, 0.121)
  );
  padding: 3rem 0;

  gap: 3rem;
}
nav {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 1rem 0;
  position: absolute;
}
nav a {
  color: black;
}
nav a {
  background: linear-gradient(to right, rgba(0, 255, 255, 0.281), beige);
  padding: 2px 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 1px gray;
}
.show {
  min-height: 50px;
  padding: 5px;
  gap: 10px;
  width: 190px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.687);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.527);
}
.show h4 {
  font-size: 14px;
}
.show img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.show-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  margin-top: 3rem;
  gap: 1rem;
  position: fixed;
  min-height: 100px;
  max-height: 310px;
  width: 220px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.37);
  transition: all 2s ease-in-out;
  overflow-y: scroll;
}
.show-head::-webkit-scrollbar {
  width: 0;
}
.wrapper {
  display: flex;
  justify-content: right;
  position: relative;
}
.show-head p {
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  background-color: rgba(128, 128, 128, 0.646);
  align-items: center;
}
.ul-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.ul-list li {
  list-style: none;
  font-weight: bold;
}
.ul-list li a {
  color: black;
}
.ul-list li a:hover {
  color: red;
}
.about-sec {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
}
.product-sec {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
}
.blog-sec {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
}
.contact-sec {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
}
.service-sec {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
}
.single-page {
  height: 250px;
  width: 190px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.548);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 2rem auto;
  gap: 0.5rem;
  background-color: antiquewhite;
}
.single-page img {
  height: 200px;
  width: 190px;
}
.bottom {
  padding: 0 3rem;
  text-align: center;
  margin-top: 1rem;
}
header p {
  display: none;
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  header p {
    display: block;
  }
  header .ul-list {
    display: none;
  }
}
